@use "../abstracts" as *;


.benefits {
  background-color: $white;
  padding-bottom:2.49rem;
  @media screen and (min-width:1200px) {
    padding-bottom: 6.24rem;
  }
  .content {
    display: none;
    @media screen and (min-width: 920px){
      @include flex-center;
      padding-top: 3.25rem;
      padding-inline: 3.5rem;
      gap: 2.25rem;
      .card {
        @media screen and (min-width:920px) {
           max-width: 19.1rem;
          .card-title {
           @media screen and (min-width:920px) {
              color: #000;
              font-family: $poppins;
              font-size: 1.25rem;
              font-style: normal;
              font-weight: 600;
              line-height: normal;
              padding-top: 0.63rem;
              padding-bottom: 0.63rem;
           }
          }
          .card-text {
            @media screen and (min-width:920px) {
              color: #000;
              font-family: $poppins;
              font-size: 1rem;
              font-style: normal;
              height: 5rem;
              font-weight: 400;
              line-height: normal;
            }
          }
        }
      }
    }
  }
  .title {
    color: #000;
    text-align: center;
    font-family: $poppins;
    font-size: 2.25rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding-top: 5.44rem;
  }
  .benefitsSwiper {
    display: block;
    height: 100%;
    @media screen  and (min-width:920px) {
      display: none;
    }
    .swiper-wrapper {
      height: 100%;
      padding-inline: 1rem;
      padding-top: 2.06rem;
      width: 100%;
      display: flex;
      gap: 0.4375rem;
      .swiper-slide{
        max-width: 19.0625rem;
        display: flex;
        flex-direction: column;
        gap: 0.62rem;
        .card-title {
          color: #000;
          font-family: $poppins;
          font-size: 1.25rem;
          font-style: normal;
          font-weight: 600;
          line-height: normal;
        }
        .card-text {
          color: #000;
          font-family: $poppins;
          font-size: 1rem;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
        }
      }
    }
  }
}

