@use "../abstracts" as *;

iframe {
  border:none; 
  display: block; 
  padding:0; 
  margin:0; 
  height: 170vh; 
  overflow: hidden;
}

.features {
  overflow: hidden;
  height: 103vh;
  position: relative;

  .swiper {
    position: absolute;
    top: 10rem;
    width: 100%;
    height: 100%;

    .swiper-pagination-bullet {
      width: 12px;
      height: 12px;
      background-color: transparent;
      opacity: 1;
      border: 2px solid $white;
      border-radius: 50%;
      margin: 0 5px;
    }

    .swiper-pagination-bullet-active {
      background-color: $orange;
      border: 2px solid $orange;
    }

    .swiper,
    .swiper-wrapper {
      width: 100%;
      height: 100%;

      .swiper-slide {
        height: 48.6vh;
        width: 83.75rem;
        @include img-contain(center);
      }
    }

    .swiper-pagination {
      position: absolute;
      top: 60rem;
    }
    .content {
      display: flex;
      gap: 2.25rem;
      justify-content: center;
      position: absolute; 
      top: 38.94rem; 
      left: 3.44rem; 
      right: 3.5rem; 
      z-index: 10;

      .card {
        max-width: 19rem;
        .title {
          color: $white;
          opacity: 0.7;
          font-family: $poppins;
          font-size: 1.25rem;
          font-style: normal;
          font-weight: 600;
          line-height: normal;
          padding-top: 0.62rem;
          padding-bottom: 0.62rem;
        }

        .text {
          color: $white;
          opacity: 0.7;
          font-family: $poppins;
          font-size: 1rem;
          font-style: normal;
          width: 100%;
          font-weight: 400;
          line-height: normal;
        }
      }

      .plug-and-play {
        margin-top: 1rem;
      }

      .smart-technology {
        margin-top: 1rem;
      }

      .home-setup {
        margin-top: 1rem;
      }

      .power-supply {
        margin-top: 1rem;
      }
    }
  }
}



@media screen and (min-height: 800px) {

  .features {
    .swiper {
      .content {
        top: 40rem;
      }
      .swiper-pagination {
        top: 60rem;
      }
    }
  }

}


@media screen and (max-height: 600px) {

  .features {
    .swiper {
      .content {
        top: 20rem;
      }
      .swiper-pagination {
        top: 45rem;
      }
    }
  }

}

@media screen and (min-height: 1000px){
  .features {
    .swiper {
      .content {
        gap:3rem;
      }
    }
  }

}