@use "../abstracts" as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.hero,.how-it-works-hero {
  @include img-cover(center);
  @include flex-center;
  flex-direction: column;
  gap:2.81rem;
  padding-top: 7.56rem;
  padding-bottom: 3.72rem;
  padding-inline: 3.96rem;
  @media screen and (min-width:900px) {
    padding-top: 17.6rem;
    padding-bottom: 7.03rem;
  }
  .hero-content {
    @include flex-center;
    gap:2.81rem;
    flex-direction: column;
    .hero-title {
      color: $white;
      text-align: center;
      font-family: $poppins;
      font-size: 1.5625rem;
      font-style: normal;
      font-weight: 500;
      line-height: 134.2%; /* 2.09688rem */
      @media screen and (min-width:1200px) {
        font-size: 2.25rem;
      }
    }
    .hero-text {
      color: $white;
      text-align: center;
      font-family: $poppins;
      font-size: 0.9375rem;
      font-style: normal;
      font-weight: 500;
      line-height: 134.2%; /* 1.25813rem */
    }
    .hero-btn-wrapper {
      display: flex;
      flex-direction: column;
      gap:1.25rem;
      @media screen and (min-width: 900px) {
        flex-direction: row;
      }
      .buy-now-btn,.configure-now-btn {
        cursor: pointer;
        a {
          text-decoration: none;
        }
      }
      .buy-now-btn {
        @include btn;
        a {
          color:$dark;
        }
      }
      .configure-now-btn {
        a {
          color: $white;
        }
      }
      .configure-now-btn {
        color: #FFF;
        text-align: center;
        font-family: $montseratt;
        background-color: transparent;
        border:none; 
        outline: none;
        font-size: 0.98213rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-decoration-line: underline;
        @media  screen and (min-width: 900px) {
          @include btn;
          background: transparent;
          color: $white;
          border:1px solid $white;
          text-decoration: none;
          font-weight: lighter;
        }
      }
    }
  }
  .hero-icons {
    @include flex-center;
    margin: 0 auto;
    @media screen and (min-width: 900px) {
      padding-top: 8.95rem;
    }
    gap:1.75rem;
    .icon {
      @include flex-center;
      flex-direction: column;
      .icon-title {
        color: $white;
        text-align: center;
        font-family: $poppins;
        font-size: 0.88819rem;
        font-style: normal;
        font-weight: 500;
        line-height: 1.7315rem; /* 194.951% */
        text-transform: capitalize;
      &.last-title {
        padding-top: 0.54rem;
      }
    }
    }

  }
}

