@use "../abstracts" as *;


body {
  margin: 0;
  padding: 0;
  background: #131111;
}
.how-to-video {
  // height: 150vh;
  background-color: $white;
  position: relative;

  .title {
    color: black;
    text-align: center;
    padding-top: 5.5rem;
    font-family: $poppins;
    font-size: 2.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .container {
    width: 100%;
    height: 100%;
    padding-top: 3.25rem;
    display: flex;
    justify-content: center;
    gap:1.56rem;
    .slide {
      display: flex;
      justify-content: center;
      gap: 1.56rem;

      .video-1,
      .video-2,
      .video-3 {
        .content {
          padding-bottom: 3.25rem;
          @include flex-center;
          gap: 0.6rem;

          img,
          span {
            display: inline-block;
          }

          span {
            width: 12rem;
            color: black;
            font-family: $poppins;
            font-size: 1.25rem;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
          }
        }

        .video {
          padding-top: 3.25rem;
        }
      }
    }
  }
}
