@use "../abstracts" as *;
.mobile-info {
  display: none;
}
.info {
  // position: relative;
  scroll-behavior: smooth;
  padding-bottom: 9.04rem;
  .swiper {
    @media screen and (min-width: 1200px) {
      display: none;
      padding-top:2.62rem;
    }
    position:sticky;
    top:0;
    height: 4.125rem;
    width: 100%;
    background: $orange;
    .swiper-button-next {
      color:$dark;
    }
    .swiper-wrapper {
      height: 100%;
      width: 100%;
      padding-inline: 0.68rem;
      padding-top:0.94rem;
      padding-bottom: 0.94rem;
      .swiper-slide {
        a {
          color: rgba(255, 255, 255, 0.40);
          font-family: $poppins;
          font-size: 1.25rem;
          font-style: normal;
          font-weight: 500;
          line-height: normal;
          text-decoration: none;
        }
        .active {
          color: #FFF;
          font-size: 1.3125rem;
        }
      }
    }
  }
      .choose-links-wrapper {
      display: none;
      @media screen and (min-width: 1200px) {
        display: block;
        position: sticky;
        top:0;
        left:0;
        width: 15%;
        padding-left:3.13rem;
        padding-right:4.15rem;
        padding-top: 4rem;
      }
      .save-list {
        list-style: none;
        .save-list-item {
          .choose,.plug-in,.produce,.save {
            color: rgba(255, 255, 255, 0.40);
            font-family: Poppins;
            font-size: 1.25rem;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            display: inline-block;
            text-decoration: none;
            cursor: pointer;
            // width: 4rem;
          }
          .active {
            color: $white;
            font-family: $poppins;
            font-size: 1.675rem;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
          }
        }
      }
    }
  #choose,#plug-in,#produce,#save {
    
    padding-bottom:2.19rem;
    // padding-left: 1rem;
    padding-right: 2rem;
    position:relative;
    @media screen and (min-width: 1200px) {
      display: flex;
      margin-left:14.24rem;
    }

    .produce-content {
      // padding-left:14.25rem;
      padding-right: 2rem;
      @media screen and (min-width: 1200px) {
        width: 40%;
      }
      .title {
        color: #FFF;
         /* headlines */
        font-family: $poppins;
        font-size: 1.5625rem;
        font-style: normal;
        font-weight: 500;
        line-height: 131%; /* 2.04688rem */
        padding-bottom: 1.25rem;
      }
      .text {
        color: #FFF;
        font-family: $poppins;
        font-size: 1rem;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
        padding-bottom: 0.63rem;
      }
    }
    .save-content-wrapper {

      padding-left: 1rem;
      padding-right: 2rem;
      @media screen and (min-width:1200px) {
        flex-direction: row;

      }
      .save-content {
        @media screen and (min-width:1200px) {
        width: 30%;
        }
        .title {
        color: #FFF;
         /* headlines */
        font-family: $poppins;
        font-size: 1.5625rem;
        font-style: normal;
        font-weight: 500;
        line-height: 131%; /* 2.04688rem */
        padding-bottom: 1.25rem;
        }
        .text {
          color: #FFF;
          font-family: $poppins;
          font-size: 1rem;
          font-style: normal;
          font-weight: 300;
          line-height: normal;
          padding-bottom: 0.63rem;
        }
      }
      display: flex;
      flex-direction: column-reverse;
      gap: 1.88rem;
      .img-wrapper {
        height: 14.1875rem;
        display: flex;
        gap:1.03rem;
        @media screen and (min-width:1200px) {
          width: 50%;
          justify-content: center;  
        }
        .new-schedule {
          width: 5.956875rem;
          height: 12.22375rem;
          @include img-contain(center);
        }
        .battery-mode {
          width: 6.65375rem;
          height: 5.655625rem;
          @include img-contain(center);
        }
        .your-schedule {
          width: 5.956875rem;
          height: 4.7rem;
          @include img-contain(center);
        }
      }
    }
    .content {
      .requirements,
      .calculator,
      .configurator,
      .solar-panels,
      .install-power-meter,
      .store-power {
        padding-bottom: 2.19rem;
        padding-top: 2.19rem;
        border-bottom: 1px solid $white;
        @media screen and (min-width: 1200px) {
          // padding-left:17rem;
          display: flex;
          justify-content: space-between;
          align-items: center;
        }
        .requirements-content,
        .calculator-content,
        .configurator-content,
        .solar-panels-content,
        .power-meter-content,
        .store-power-content {
          padding-left: 1rem;
          padding-right: 2rem;
          @media screen and (min-width:1200px) {
            max-width: 50%;
          }
          .title {
            color: #FFF;
            /* headlines */
            font-family: $poppins;
            font-size: 1.5625rem;
            font-style: normal;
            font-weight: 500;
            line-height: 131%; /* 2.04688rem */
            padding-bottom: 1.25rem;
          }
          .text {
            color: #FFF;
            font-family: $poppins;
            font-size: 1rem;
            font-style: normal;
            font-weight: 300;
            line-height: normal;
            padding-bottom: 0.63rem;
          }
          .list {
            padding-left:1rem;
            padding-bottom: 0.64rem;
            .list-item {
              color: #FFF;
              font-family: $poppins;
              font-size: 1rem;
              font-style: normal;
              font-weight: 300;
              line-height: normal;
            }
          }
          .btn {
            @include btn;
          }
          .content-btn {
            @include btn;
            display: none;
            @media screen and (min-width:1200px) {
              display: block;
            }
          }
        }
        .requirements-img-wrapper,.calculator-image,.configurator-image {
          @include img-contain(left);
          height: 4.29rem;
          margin-left:1rem;
          @media screen and (min-width: 1200px) {
            width: 50%;
          @include img-contain(center);
          }
        }
        .configurator-image {
          height: 8.6475rem;
          @media screen and (min-width:1200px) {
            height: 10.25rem;
          }
        }
        .mobile-btn {
          @include btn;
          &.configure-btn {
            font-weight: 600;
          }
          margin-top:1.25rem;
          @media screen and (min-width: 1200px) {
            display: none;
          }
        }
      }
      .configurator,.solar-panels,.install-power-meter,.store-power {
        border-bottom: none;
      }
      .solar-panels,.install-power-meter,.store-power {
        padding-top:0;
        display: flex;
        flex-direction: column-reverse;
        gap:1.88rem;
        .img-wrapper {
          height: 14.1875rem;
          @include img-cover(center);
          @media screen and (min-width:1200px) {
            width: 50%;
          }
        }
        @media screen and (min-width: 1200px) {
          flex-direction: row;
        }
      }
    }
  }
  #plug-in, #produce, #save {
    padding-top:0;
  }
  #produce {
    display: flex;
    flex-direction: column-reverse;
    gap: 1.88rem;
    
    .img-wrapper {
      height: 14.1875rem;
      @include img-cover(center);
      @media screen and (min-width:1200px) {
        width: 44%;
      // width:  42.0625rem;

      margin-left:4.5rem;

      }
    }
    @media screen and (min-width: 1200px) {
      flex-direction: row;
    }
  }
}


