@use "../abstracts" as *;
body {
  margin: 0;
  padding: 0;
  background: #131111;
  overflow-x: hidden;
}
.info {
  position:relative;
  padding-top: 1.81rem;
  scroll-behavior: smooth;
  padding-bottom: 4.56rem;
   .infoSwiper {
      @media screen and (min-width: 1200px) {
        display: none;
        padding-top:2.62rem;
      }
      width: 100%;
      position:sticky;
      top:80px;
      left:0;
      z-index: 10;
      background: $orange;
       .swiper-button-next::after {
        content: "";
      }
      .swiper-wrapper {
        height: 100%;
        width: 100%;
        padding-inline: 0.68rem;
        padding-top:0.94rem;
        padding-bottom: 0.94rem;
        .swiper-slide {
          a {
            color: rgba(255, 255, 255, 0.40);
            font-family: $poppins;
            font-size: 1.1125rem;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            text-decoration: none;
          }
          .active {
            color: #FFF;
            font-size: 1.125rem;
          }
      }
    }
  }
  .info-main{
    display: flex;
    position:relative;
    .info-links-wrapper  {
      display: none;
      @media screen and (min-width: 1200px) {
        display: flex;
        flex-direction: column;
        position:sticky;
        top: 160px;
        margin-top: 1rem;
        width: 20%;
        height: 100%;
        padding-left: 3.13rem;
      }
      .info-list {
        list-style-type: none;
        .info-list-item {
          .link {
            color: rgba(255, 255, 255, 0.40);
            text-align: center;
            font-family: $poppins;
            font-size: 1.25rem;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            text-decoration: none;
          }
          .active {
            color: $white;
            font-size: 1.5rem;
          }
        }
      }
    }
   .info-wrapper-content {
      width: 100%;
      padding-top: 1.44rem;
      .anchor {
        display: block;
        position: relative;
        top: -170px;
        visibility: hidden;
      } 
      .content-wrap {
        padding-left:1.37rem;
        padding-right: 1.31rem;
        @media screen and (min-width: 1200px) {
          display: flex;
          flex-direction: column;
          gap: 1.5rem;
        }
        .card {
          border-bottom: 1px solid $white;
          padding-bottom: 2.19rem;
          @media screen and (min-width: 1024px) and (max-width: 1200px) {
            display: flex;
            flex-direction: column;
          }
           @media screen and (min-width: 1201px){
            display: flex;
            justify-content: space-between;
            align-items: center;
          }
          &.configure-card {
            border-bottom: none;
          }
         .card-content {
            padding-inline: 1rem;
            padding-bottom: 1rem;
            h3 {
              color: $white;
              /* headlines */
              padding-bottom: 1.25rem;
              font-family: $poppins;
              font-size: 1.5625rem;
              font-style: normal;
              font-weight: 500;
              line-height: 131%; /* 2.04688rem */
            }
            p {
              color: #FFF;
              font-family: $poppins;
              font-size: 1rem;
              font-style: normal;
              font-weight: 300;
              line-height: 147.405%; /* 1.47406rem */
              padding-bottom: 0.63rem;
            }
            .card-text-wrapper {
              li {
                color: #FFF;
                font-family: $poppins;
                font-size: 1rem;
                font-style: normal;
                font-weight: 300;
                line-height: 147.405%; /* 1.47406rem */
                padding-bottom: 0.63rem;
              }
              &.requirements-text-wrapper {
                @media screen and (min-width:1024px) {
                  // margin-left: 20px;
                  width: 65%;
                }
              }
            }
          }
          .smaller-image {
              padding-left:1rem;
              padding-right: 1rem;
              width: 100%;
              max-width: 300px;
              @media screen and (min-width:1200px) {
                margin-right: 100px;
                height: 90%;
                padding:0;
                max-width: 350px;

              }
          }
          .bigger-image {
              width: 100%;
              max-width: 900px;
              padding-left: 1rem;
              padding-right: 1rem;
              @media screen and (min-width: 1200px) {
                 margin-right: 100px;
                 padding: 0;
              }
          }

         .card-img-wrapper {
            @include img-contain(left);
            min-height: 4.29rem;
            margin-left:1rem;
            @media screen and (min-width:1024px) {
              min-width: 15.389375rem;
              margin-right:11.55rem;
            }
             &.plugin-img,&.produce-img, &.save-img {
              @media screen and (min-width:1024px) {
                margin-right: 2.44rem;
                max-width: 41.25rem;
              }
            }
          }
          .btn {
            @include btn;
            margin-top:1.25rem;
            a {
              text-decoration: none;
              color: #131111;
              text-align: center;
              font-size: 0.88213rem;
              font-style: normal;
              font-weight: 700;
              line-height: normal;
            }
            &.card-btn-mobile,&.card-btn-desktop {
              @include btn;
              margin-top:1.25rem;
              a {
                text-decoration: none;
                color: #131111;
                text-align: center;
                font-size: 0.88213rem;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
              }
            }
            &.card-btn-mobile {
              @media screen and (min-width: 1024px) {
                display: none;
              }
            }
            &.card-btn-desktop {
              display: none;
              @media screen and (min-width: 1024px) {
                display: block;
              }
            }
          }
        }
      }
      .content-wrap {
        padding-left:0;
        padding-right: 0;
        padding-inline: 1rem;

        .card {
          border-bottom: none;
          .card-content {
           h3 {
             padding-top: 1.88rem;
           }
           
           .card-text-wrapper,p {
             @media screen and (min-width:1024px) {
              width: 85%;
            }
           }
           .card-text-wrapper {
            padding-left: 1rem;
            margin-left: 0;
           }
          }
          .card-img-wrapper {
            width:100%;
            margin-left:0;
            min-height: 14.1875rem;
            @include img-cover(center);
            &.save-img {
              @include img-contain(center);
            }
          }
        }
      }
   }
  }

}

.individual-products {

}