@use "../abstracts" as *;

.learn-more {
  background-color: $white;
  position: relative;
  padding-bottom: 5.05rem;
  @media screen and (min-width:1200px) {
    padding-bottom: 6.05rem; 
  }
  .title {
      color: #000;
      text-align: center;
      font-family: $poppins;
      font-size: 1.5rem;
      font-style: normal;
      margin: 0 auto;
      padding-top: 2rem;
      font-weight: 500;
      line-height: normal;
      @media screen and (min-width: 1200px) {
        padding-top: 5.5rem;
        font-size: 2.25rem;
      }
  }

  .learnMore {
    width: 100%;
    height: 100%;
    padding-top: 3.25rem;
      display: block;
    .video-pagination {
      display: inline-block;
    }
    /* Custom pagination bullets */
    .swiper-pagination-bullet {
      width: 12px;
      height: 12px;
      background-color: transparent;
      opacity: 1;
      border: 2px solid black;
      border-radius: 50%;
      margin: 0 5px;
    }

    .swiper-pagination-bullet-active {
      background-color: $orange;
      border: 2px solid $orange;
    }

    .swiper-wrapper {
        display: flex;
        gap:1;
        width:100%;
        height: 100%;
      .swiper-slide {
        display: flex;
        justify-content: center;
        gap: 1.56rem;

        .video-1,
        .video-2,
        .video-3 {
          .content {
            @include flex-center;
            gap: 0.6rem;
            img,
            span {
              display: inline-block;
              padding-bottom:1.27rem;
            }
            span {
              width: 12rem;
              color: black;
              font-family: $poppins;
              font-size: 1.25rem;
              font-style: normal;
              font-weight: 400;
              line-height: normal;
              max-width: 10.23131rem;
              @media screen and (min-width:1200px) {
                max-width: 12.1875rem;
                padding-bottom:0;

              }
            }
          }
          .video {
            max-width: 26.875rem;
            min-width: 26.875rem;
            height: 35.5rem;
            // padding-top: 3.25rem;
            @include img-contain(center);
          }
        }
      }
    }
  }
}
 @media screen and (max-width: 768px) {
  .learn-more {
    .title {
      color: #000;
      text-align: center;
      font-family: $poppins;
      font-size: 1.5rem;
      font-style: normal;
      margin: 0 auto;
      font-weight: 500;
      max-width: 15.0625rem;
      line-height: normal;
    }
    .desktop-swiper {
      display: none;
    }
    .learnMore {
      // position: relative;
      // display: block;
      // width:100%;
      // height: 100%;
      //   .swiper-pagination {
      //     margin-top:12rem;
      //   }
      .swiper-wrapper {
        // display: flex;
        // gap:1;
        // width:100%;
        // height: 100%;
        .swiper-slide {
          .video-1,
          .video-2,
          .video-3 {
            .content {
              span {
                font-size: 1.04938rem;
              }
            }

            .video {
              width: 26.875rem;
              height: 35.5rem;
              padding-top: 3.25rem;
            }
          }
        }
      }
    }
  }
 }
