@use "../abstracts" as *;


iframe {
  border:none; 
  display: block; 
  padding:0; 
  margin:0; 
  height: 160vh !important; 
  overflow: hidden;
}

.learn-more {
  height: 160vh;
  background-color: $white;
  position: relative;

  .title {
    color: black;
    text-align: center;
    padding-top: 5.5rem;
    font-family: $poppins;
    font-size: 2.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .swiper-container {
    width: 100%;
    height: 100%;
    padding-top: 3.25rem;

    /* Custom pagination bullets */
    .swiper-pagination-bullet {
      width: 12px;
      height: 12px;
      background-color: transparent;
      opacity: 1;
      border: 2px solid black;
      border-radius: 50%;
      margin: 0 5px;
    }

    .swiper-pagination-bullet-active {
      background-color: $orange;
      border: 2px solid $orange;
    }

    .swiper-wrapper {
      width:100%;
      height: 100%;
      .swiper-slide {
      display: flex;
      justify-content: center;
      gap: 1.56rem;

      .video-1,
      .video-2,
      .video-3 {
        .content {
          padding-bottom: 3.25rem;
          @include flex-center;
          gap: 0.6rem;

          img,
          span {
            display: inline-block;
          }

          span {
            width: 12rem;
            color: black;
            font-family: $poppins;
            font-size: 1.25rem;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
          }
        }

        .video {
          width: 26.875rem;
          height: 35.5rem;
          padding-top: 3.25rem;
        }
      }
    }
    }
  }
}
 @media screen and (max-width: 768px) {
  .learn-more {
    .title {
      color: #000;
      text-align: center;
      font-family: $poppins;
      font-size: 1.5rem;
      font-style: normal;
      margin: 0 auto;
      font-weight: 500;
      max-width: 15.0625rem;
      line-height: normal;
    }
    .desktop-swiper {
      display: none;
    }
    .learnMore {
      position: relative;
      display: block;
       width:100%;
        height: 100%;
        .swiper-pagination {
          position: absolute;
          bottom: 190px;
        }
      .swiper-wrapper {
        display: flex;
        gap:1;
        width:100%;
        height: 100%;
        .swiper-slide {
          .video-1,
          .video-2,
          .video-3 {
            .content {
              span {
                font-size: 1.04938rem;
              }
            }

            .video {
              width: 26.875rem;
              height: 35.5rem;
              padding-top: 3.25rem;
            }
          }
        }
      }
    }
  }
 }
 @media screen and (min-width: 1201px) {
  .learn-more {
    .desktop-swiper {
      display: block;
    }
    .learnMore {
      display: none;
    }
  }
 }

@media screen and (max-height: 708px) {
  iframe {
    height: 130vh;
  }
}