@use "../abstracts" as *;

body {
  margin: 0;
  padding: 0;
  background: #131111;
}

.products-links {
  // overflow: hidden;
  position: relative;
  scroll-behavior: smooth;

  .wrapper {
    .card {
      @include img-cover(center);
      // height: 14.375rem;

      .content {
        padding-top: 4.44rem;
        padding-left: 3.5rem;
        padding-bottom: 4.44rem;

        @media screen and (min-width: 1200px) {
          padding-left: 14.44rem;
        }

        .title {
          color: $white;
          font-family: $poppins;
          font-size: 2.25rem;
          font-style: normal;
          font-weight: 500;
          line-height: normal;
        }

        .content-link {
          display: inline-block;
          color: #FFF;
          font-family: $montseratt;
          font-size: 1rem;
          font-style: normal;
          font-weight: 700;
          line-height: normal;
          text-decoration-line: underline;
          margin-top: 0.94rem;
        }
      }
    }
  }

  .main-content {
    position: relative;
    padding-top: 1.81rem;
    scroll-behavior: smooth;
    padding-bottom: 4.56rem;

    .productLinksSwiper {
      @media screen and (min-width: 1300px) {
        display: none;
        padding-top: 2.62rem;
      }
      height: 4.125rem;
      width: 100%;
      position: sticky;
      top: 0;
      left: 0;
      z-index: 10;
      background: $orange;

      .swiper-button-next {
        color: $dark;
      }

      .swiper-wrapper {
        height: 100%;
        width: 100%;
        padding-inline: 0.68rem;
        padding-top: 0.94rem;
        padding-bottom: 0.94rem;

        .swiper-slide {
          a {
            color: rgba(255, 255, 255, 0.40);
            font-family: $poppins;
            font-size: 1.25rem;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            text-decoration: none;
          }

          .active {
            color: #FFF;
            font-size: 1.3125rem;
          }
        }
      }
    }

    .products-main {
      display: flex;
      position: relative;

      .products-links-wrapper {
        display: none;

        @media screen and (min-width: 1300px) {
          display: flex;
          flex-direction: column;
          position: sticky;
          top: 0;
          // margin-top: 4rem;
          // position: relative;
          height: 100%;
        }

        .products-list {
          list-style-type: none;

          .products-list-item {
            padding-left: 3.13rem;

            .solar-panels-link,
            .battery-link,
            .safety-gate-link,
            .power-meter-link,
            .smart-pv-link,
            .safety-gate-adapter-link,
            .inverter-link,
            .app-link {
              color: rgba(255, 255, 255, 0.40);
              text-align: center;
              font-family: $poppins;
              font-size: 1.35rem;
              font-style: normal;
              font-weight: 500;
              line-height: normal;
              text-decoration: none;
            }

            .active {
              color: $white;
              font-size: 1.55rem;
            }
          }
        }
      }

      .products-wrapper-content {
        width: 100%;
        @media screen and (min-width: 1200px) {
          margin-left: 6.44rem;
        }
        #solar-panels,#battery,#power-meter,#safety-gate-adapter,#inverter,#smart-pv-plug, #app {
            @media screen and (min-width:1200px){
              margin-bottom: 6.25rem;
            }
          // --------------SHOWCASE -----------------------
          .showcase {
            @media screen and (min-width: 1024px) {
              min-width: 69.5625rem;
              max-width:72.6875rem;

            }
             &.battery-showcase {
              @media screen and (min-width: 1200px) {
                margin-top: 6.25rem;
              }
            }
            .img-wrapper,.battery-video {
              width: 100%;
              min-height: 18.75rem;
              display: flex;
              justify-content: center;
              align-items: center;
              @include img-cover(center);
                .btn {
                  @include btn;
                  background-color: transparent;
                  border: 2px solid $white;
                    a {
                      text-decoration: none;
                      color: $white;
                      text-align: center;
                      font-family: $montseratt;
                      font-size: 0.98213rem;
                      font-style: normal;
                      font-weight: 600;
                      line-height: normal;
                    }
                  }
            }
            .showcase-swiper,
            .content-swiper {
              width: 100%;
              height: 100%;

              .swiper-wrapper {
                width: 100%;
                height: 100%;
              }
            }

            .showcase-swiper {
              .swiper-wrapper {
                .swiper-slide {
                  min-height: 18.75rem;
                  @include img-cover(center);
                  display: flex;
                  justify-content: center;
                  align-items: center;

                  .btn {
                    @include btn;
                    background-color: transparent;
                    border: 2px solid $white;

                    a {
                      text-decoration: none;
                      color: $white;
                      text-align: center;
                      font-family: $montseratt;
                      font-size: 0.98213rem;
                      font-style: normal;
                      font-weight: 600;
                      line-height: normal;
                    }
                  }
                }
              }
            }

            .content-swiper {
              background-color: $white;
              padding-bottom: 3rem;
              display: flex;
              flex-direction: column-reverse;

              @media screen and (min-width: 1024px) {
                display: none;
              }

              .swiper-wrapper {
                display: flex;

                .swiper-slide {
                  display: flex;
                  padding-top: 2.19rem;
                  flex-direction: column;
                  gap: 0.62rem;
                  padding-left: 4.44rem;
                  padding-bottom: 5.44rem;
                  .label {
                    color: $orange;
                    font-family: $poppins;
                    font-size: 0.875rem;
                    font-style: normal;
                    font-weight: 500;
                    line-height: normal;
                  }
                  .battery-title,.title {
                    color: $dark;
                    font-family: $poppins;
                    font-size: 1.125rem;
                    padding-top: 0.62rem;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 131%; /* 1.47375rem */
                  }
                  .title {
                    border-top: 1px solid $dark;
                  }

                  .text-wrapper {
                    .text {
                      color: $dark;
                      /* body */
                      font-family: $poppins;
                      font-size: 1rem;
                      font-style: normal;
                      font-weight: 300;
                      line-height: normal;

                      .bold {
                        font-weight: 700;
                      }
                    }
                  }
                }
              }

              .swiper-horizontal > .swiper-pagination-progressbar,
              .swiper-pagination-progressbar.swiper-pagination-horizontal {
                top: auto;
                bottom: 2.06rem;
                width: 50%;
                border-radius: 0.53125rem;
                margin: 0 auto;
                right: 0;
                min-width: 16.4375rem;
                max-width: 16.4375rem;
                background: #D9D8D8;

                .swiper-pagination-progressbar-fill {
                  background-color: $dark;
                  min-width: 4.8125rem;
                  border-radius: 0.53125rem;
                }
              }
            }

            .content {
              display: none;
              &.safety-gate-content,&.pv-plug-content,&.app-content {
                display: block;
                background-color: $white;
                padding-inline: 1rem;
                padding-top:2.75rem;
                padding-bottom: 2.56rem;
                .safety-gate-card,.smart-pv-card,.app-card{
                  width: 100% !important; 
                  .safety-gate-title,.smart-pv-title,.app-title {
                    max-width: 17.125rem;
                    padding-bottom: 0.63rem;
                  }
                  .safety-gate-text,.smart-pv-text,.app-text {
                    padding-bottom: 0.63rem;
                    a {
                      color:$dark;
                      font-style: italic;
                      font-weight: 600;
                    }
                  }
                }
              }
              &.inverter-content {
                padding-left:2rem;
                padding-right: 2rem;
              }
              @media screen and (min-width: 1024px) {
                width: 100%;
                background-color: $white;
                display: flex;
                gap: 1.38rem;
                padding-top: 2.19rem;
                padding-bottom: 1.94rem;
                padding-inline: 4.44rem;
              }
              .safety-gate-card,.smart-pv-card,.app-card {
                width:100%;
              }
              .card {
                min-width: 13.3125rem;
                max-width: 14.375rem;
              }
              .card,.safety-gate-card,.safety-features-card,.smart-pv-card,.app-card{
                .label {
                  color: $orange;
                  font-family: $poppins;
                  font-size: 0.875rem;
                  font-style: normal;
                  font-weight: 500;
                  line-height: normal;
                }
                .battery-title,.title {
                  color: $dark;
                  font-family: $poppins;
                  font-size: 1.125rem;
                  padding-top: 0.62rem;
                  font-style: normal;
                  font-weight: 500;
                  line-height: 131%; /* 1.47375rem */
                }
                .title {
                  border-top: 1px solid $dark;
                }

                .text-wrapper {
                  .text {
                    color: $dark;
                    /* body */
                    font-family: $poppins;
                    font-size: 1rem;
                    font-style: normal;
                    font-weight: 300;
                    line-height: normal;

                    .bold {
                      font-weight: 700;
                    }
                    &.safety-gate-text,&.smart-pv-text {
                      @media screen and (min-width:1200px) {
                        width:100%;
                      }
                    }
                  }
                }
                .btn {
                  @include btn;
                  a {
                    text-decoration: none;
                    color:$dark;
                  }
                }
              }
            }
          }
        }

        // -------------- SPECIFICATION -----------------------
        .specification {
          padding-inline: 1rem;
          padding-top: 2.5rem;
          .specification-category {
            @media screen and (min-width: 1200px) {
              max-width: 75%;
            }
            border-bottom: 1px solid $white;
            padding-bottom: 1.75rem;
            .title {
              padding-bottom: 0.63rem;
              padding-top: 1.75rem;
            }
            .title,.text {
              color: $white;
              /* headlines */
              font-family: $poppins;
              font-size: 1.5625rem;
              font-style: normal;
              font-weight: 500;
              line-height: 131%; /* 2.04688rem */
            }
            .text {
              font-size: 1rem;
              font-weight: 300;
              line-height: normal;
              @media screen and (min-width:1200px) {
                max-width: 69.0625rem;
              }
            }
            .category-wrapper {
               padding-bottom: 0.81rem;
               @media screen and (min-width: 1200px){
                  display: flex;
                  gap:2.19rem;
                  
                }
              .category {
                .container {
                  display: flex;
                  flex-direction: column;
                  // gap: 0.63rem;
                  .text {
                    color: $white;
                    font-family: $poppins;
                    font-size: 0.875rem;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                    padding-bottom: 0.63rem;
                  }
                  .bold {
                    font-weight: 700;
                  }
                }
                .category-title {
                  color: $orange;
                  font-family: $poppins;
                  font-size: 0.875rem;
                  font-style: normal;
                  font-weight: 300;
                  line-height: normal;
                  padding-bottom: 0.19rem;
                }
                .category-text, a {
                  color: $white;
                  font-family: $poppins;
                  font-size: 0.875rem;
                  font-style: normal;
                  font-weight: 400;
                  line-height: normal;
                  @media screen and (min-width:1200px) {
                    max-width: 18rem;
                  }
                }
              }
            }
            &.warranty-manual {
              border-bottom: none;
            }
          }
        }
        // --------------------- HOW IT WORKS --------------------------
        .how-it-works {
          @media screen and (min-width:1200px) {
            max-width:72.6875rem;
            display: flex;
            flex-direction: row-reverse;
          }
          .img-wrapper {
            width: 45%;
            height: inherit;
            @include img-cover(center);
          }
          .how-it-works-swiper {
            width: 100%;
            height: 100%;
            @media screen and (min-width: 1200px) {
              height: inherit;
              width: 45%;
            }
            .swiper-wrapper {
              width:100%;
              height: 100%;
              .swiper-slide {
                min-height: 18.75rem;
                @include img-cover(center);
                @media screen and (min-width:1200px) {
                  width: 100%;
                }
              }
            }
          }
          .how-it-works-content {
            padding-inline: 1.09rem;
            padding-top: 2.5rem;
            padding-bottom:2.5rem;
            background-color: $white;
            @media screen and (min-width: 1200px) {
              width: 55%;
            }
            .title {
              color: $dark;
              font-family: $poppins;
              font-size: 1.875rem;
              font-style: normal;
              font-weight: 500;
              line-height: normal;
              text-align: center;
              padding-bottom: 2.5rem;
            }
            .content-wrapper {
              .text {
                color: $dark;
                font-family: $poppins;
                font-size: 1rem;
                font-style: normal;
                font-weight: 300;
                line-height: normal;
                padding-bottom:2.5rem;
                .orange,&.bold {
                  color: $orange;
                  font-size: 1.0625rem;
                  font-weight: 700;
                }
                &.bold,.italic {
                  color: $dark;
                  font-weight: 600;
                }
                .italic {
                  font-style: italic;
                }
              }
            }
            .btn-wrapper {
              display: flex;
              gap:1.19rem;
              .btn,.consultation-btn {
                @include btn;
                a {
                  text-decoration: none;
                  color: $dark;
                }
              }
              .consultation-btn {
                  background: transparent;
                  border:2px solid $orange;
              }
            }
          }
        }
      }
    }
  }
}
