@use "../abstracts" as *;

body {
  margin: 0;
  padding: 0;
  background: #131111;
}
.products-content {
  @include flex-center;
  .content-wrapper {
    padding-bottom:2.5rem;
    padding-top:2.5rem;
    // padding-inline: 1rem; 
    @media screen and (min-width: 1200px) {
      padding-top: 7.19rem;
      max-width: 30.25rem;
      padding-bottom: 6.25rem;
    }
    p{
      color: $white;
      text-align: center;
      /* body */
      font-family: $poppins;
      font-size: 1rem;
      font-style: normal;
      font-weight: 300;
      line-height: normal;
      padding-bottom: 0.5rem;
      padding-inline: 0.91rem;
    }
  }
}


@media screen and (max-width: 768px) {
  .products-content {
    
    .content-wrapper {
      padding:0;
      p {
        padding-top: 2.5rem;
        padding-bottom: 2.5rem;
      }
    }
  }
}