@use "../abstracts" as *;
body {
  margin: 0;
  padding: 0;
  background: #131111;
}
.kits,.individual-products {
  position:relative;
  padding-top: 1.81rem;
  scroll-behavior: smooth;
  padding-bottom: 4.56rem;
   .kitsLinksSwiper,.individualProductsLinksSwiper {
      @media screen and (min-width: 1200px) {
        display: none;
        padding-top:2.62rem;
      }
      height: 4.125rem;
      width: 100%;
      position:sticky;
      top:0;
      left:0;
      z-index: 10;
      background: $orange;
      .swiper-button-next {
        color:$dark;
      }
      .swiper-wrapper {
        height: 100%;
        width: 100%;
        padding-inline: 0.68rem;
        padding-top:0.94rem;
        padding-bottom: 0.94rem;
        .swiper-slide {
          a {
            color: rgba(255, 255, 255, 0.40);
            font-family: $poppins;
            font-size: 1.25rem;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            text-decoration: none;
          }
          .active {
            color: #FFF;
            font-size: 1.3125rem;
          }
      }
    }
  }
  .kits-main,.individual-products-main{
    display: flex;
    position:relative;
    .kits-links-wrapper,.individual-products-links-wrapper  {
      display: none;
      @media screen and (min-width: 1200px) {
        display: flex;
        flex-direction: column;
        position:sticky;
        top: 0;
        margin-top: 4rem;
        // position:relative;
        height: 100%;
      }
      .kits-list,.individual-products-list {
        list-style-type: none;
        .kits-list-item,.individual-list-item {
          padding-left: 3.13rem;
          .solar-kits-link,
          .battery-kits-link,
          .solar-battery-kits-link,
          .solar-panels-link,
          .battery-link,
          .safety-gate-adapter-link,
          .inverter-link,
          .smart-pv-plug-link,
          .cables-link,
          .power-meter-link {
            color: rgba(255, 255, 255, 0.40);
            text-align: center;
            font-family: $poppins;
            font-size: 1.25rem;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            text-decoration: none;
          }
          .active {
            color: $white;
            font-size: 1.875rem;
          }
        }
      }
    }
   .kits-wrapper-content,.individual-wrapper-content {
      width: 100%;
      padding-top: 1.44rem;
      #solar-kits,#solar-battery-kits,#battery-kits,#solar-panels {
        padding-left:1.37rem;
        padding-right: 1.31rem;
        @media screen and (min-width: 1200px) {
          display: flex;
          flex-wrap: wrap;
          gap: 1.5rem;
        }
        .card {
          margin-top:2.5rem;
          @media screen and (min-width: 1200px) {
            min-width: 19.8125rem;
            max-width: 19.8125rem;
            // max-height: 34.125rem;
          }
          .card-img-wrapper {
            @include img-cover(center);
            min-height: 18.6875rem;
          }
          .card-content {
            padding-left:1.84rem;
            padding-top:2.5rem;
            padding-bottom:2.5rem;
            background-color: $white;
            .card-title {
              padding-top: 0.63rem;
              border-top: 1px solid $dark;
              max-width: 13.5625rem;
              color: $dark;
              font-family: $poppins;
              font-size: 1.125rem;
              font-style: normal;
              font-weight: 600;
              line-height: 131%; /* 1.47375rem */
              .italic {
                font-size: 0.8125rem;
                font-style: italic;
                font-weight: 600;

              }
            }
            .card-text {
              color: $dark;
              font-family: $poppins;
              font-size: 1rem;
              font-style: normal;
              font-weight: 300;
              line-height: normal;
            }
            .card-text-wrapper {
              padding-top: 0.63rem;
              display: flex;
              flex-direction: column;
              gap: 0.33rem;
              padding-bottom: 0.63rem;
              .card-text {
                color: $dark;
                font-family: $poppins;
                font-size: 1rem;
                font-style: normal;
                font-weight: 300;
                line-height: normal;
              }
            }
            .card-btn {
              @include btn;
            }
            .card-btn-wrapper {
              display: flex;
              flex-direction: column;
              gap: 0.62rem;
            }
          }
        }
      }
      #solar-panels {
        
      }
   }
  }

}

.individual-products {

}