@use "../abstracts" as *;
body {
  margin: 0;
  padding: 0;
  background: #131111;
}
.kits,.individual-products {
  position:relative;
  padding-top: 1.81rem;
  scroll-behavior: smooth;
  padding-bottom: 4.56rem;
   .kitsLinksSwiper,.individualProductsLinksSwiper {
      @media screen and (min-width: 1200px) {
        display: none;
        padding-top:2.62rem;
      }
      height: 4.125rem;
      width: 100%;
      position:sticky;
      top:0;
      left:0;
      z-index: 10;
      background: $orange;
      .swiper-button-next {
        color:$dark;
      }
      .swiper-wrapper {
        height: 100%;
        width: 100%;
        padding-inline: 0.68rem;
        padding-top:0.94rem;
        padding-bottom: 0.94rem;
        .swiper-slide {
          a {
            color: rgba(255, 255, 255, 0.40);
            font-family: $poppins;
            font-size: 1.25rem;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            text-decoration: none;
          }
          .active {
            color: #FFF;
            font-size: 1.3125rem;
          }
      }
    }
  }
  .kits-main,.individual-products-main{
    display: flex;
    position:relative;
    .kits-links-wrapper,.individual-products-links-wrapper  {
      display: none;
      @media screen and (min-width: 1200px) {
        display: flex;
        flex-direction: column;
        position:sticky;
        top: 0;
        margin-top: 4rem;
        // position:relative;
        height: 100%;
        width:20%;
      }
      .kits-list,.individual-products-list {
        list-style-type: none;
        .kits-list-item,.individual-list-item {
          padding-left: 3.13rem;
          .solar-kits-link,
          .battery-kits-link,
          .solar-battery-kits-link,
          .solar-panels-link,
          .battery-link,
          .safety-gate-adapter-link,
          .inverter-link,
          .smart-pv-plug-link,
          .cables-link,
          .power-meter-link {
            color: rgba(255, 255, 255, 0.40);
            text-align: center;
            font-family: $poppins;
            font-size: 1.25rem;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            text-decoration: none;
          }
          .active {
            color: $white;
            font-size: 1.575rem;
          }
        }
      }
    }
   .kits-wrapper-content,.individual-wrapper-content {
      width: 100%;
      padding-top: 1.44rem;
      @media screen and (min-width:1200px) {
        margin-left:6.44rem;
      }
      #solar-kits,#solar-battery-kits,#battery-kits,#battery, #solar-panels,#power-meter, #safety-gate-adapter,#inverter, #smart-pv-plug, #cables{
        padding-left:1.37rem;
        padding-right: 1.31rem;
        @media screen and (min-width: 1200px) {
          display: flex;
          flex-wrap: wrap;
          gap: 1.5rem;

        }
        .card {
          margin-top:2.5rem;
          @media screen and (min-width: 1200px) {
            min-width: 19.8125rem;
            max-width: 19.8125rem;
          }
          .card-img-wrapper {
            @include img-cover(center);
            min-height: 18.6875rem;
          }
          .card-content {
            padding-left:1.84rem;
            padding-top:2.5rem;
            padding-bottom:2.5rem;
            background-color: $white;
            .card-title {
              padding-top: 0.63rem;
              border-top: 1px solid $dark;
              max-width: 13.5625rem;
              color: $dark;
              font-family: $poppins;
              font-size: 1.125rem;
              font-style: normal;
              font-weight: 600;
              line-height: 131%; /* 1.47375rem */
              .italic {
                font-size: 0.8125rem;
                font-style: italic;
                font-weight: 600;

              }
            }
            .card-text {
              color: $dark;
              font-family: $poppins;
              font-size: 1rem;
              font-style: normal;
              font-weight: 300;
              line-height: normal;
            }
            .card-text-wrapper {
              padding-top: 0.63rem;
              display: flex;
              flex-direction: column;
              gap: 0.33rem;
              padding-bottom: 0.63rem;
              .card-text {
                color: $dark;
                font-family: $poppins;
                font-size: 1rem;
                font-style: normal;
                font-weight: 300;
                line-height: normal;
              }
            }
            .card-btn,.learn-more {
              @include btn;
              a {
                text-decoration: none;
              color: $dark;
              }
             
            }
            .learn-more {
              background-color: transparent;
              border: 2px solid $dark;
            }
            .card-btn-wrapper {
              display: flex;
              flex-direction: column;
              gap: 0.62rem;
            }
          }
        }
      }
      #solar-panels, #power-meter, #safety-gate-adapter,#inverter, #smart-pv-plug {
        .card {
          @media screen and (min-width: 1200px) {
            min-width: 69.5625rem;
            max-width: 69.5625rem;
            .card-img-wrapper {
              @include img-cover(center);
            }
            .card-content {
              display: flex;
              justify-content: center;
              align-items: center;
              flex-direction: column;
              gap:1.25rem;
              .card-title {
                border-top: none;
              }
              .card-text {
                max-width: 34.625rem;
              }
              .card-btn-wrapper {
                display: flex;
                flex-direction: row;
              }
            }
          }
        }
      }
      #battery {
        @media screen and (min-width:1200px) {
          display: flex;
          flex-direction: row;
          .card {
            min-width: 34.0625rem;
            max-width: 34.0625rem;
            .card-content {
              display: flex;
              justify-content: center;
              align-items: center;
              flex-direction: column;
              .card-title {
                border-top: none;
              }
              .card-text {
                text-align: center;
              }
              .card-btn-wrapper {
                display: flex;
                flex-direction: row;
              }
            }
            
          }
        }
      }
   }
  }

}

.single-product-section {
  display: none;
  @media screen and (min-width:1200px) {
   padding-top: 15.94rem;
    
  }
  .breadcrumb {
    display: none;
    @media screen and (min-width:1200px) {
      display: inline-block;
      color: $white;
      text-align: center;
      padding-left: 3.13rem;
      padding-bottom: 4.62rem;
      font-family: $poppins;
      font-size: 0.89563rem;
      font-style: italic;
      font-weight: 300;
      line-height: normal;
    }
  }
  .single-product {
    @media screen and (min-width:1200px) {
      display: flex;
      padding-inline: 3.13rem;
      gap: 3.19rem;
    }
    .single-product-info {
       @media screen and (min-width: 1200px) {
          width: 50%;
        }
      .img-wrapper {
        @include img-cover(center);
        width: 100%;
        min-height: 24.1875rem;

      }
      .add-to-cart-mobile {
        background-color: white;
        padding-inline: 1rem;
        padding-bottom: 3rem;
        @media screen and (min-width:1200px) {
          display: none;
        }
        .title,.price,.delivery,.description {
          font-family: $poppins;
          font-style: normal;
        }
        .price,.delivery,.description {
          line-height: normal;
        }
        .title {
          color: $dark;
          font-size: 1.5625rem;
          font-weight: 500;
          line-height: 131%; /* 2.04688rem */
          padding-top: 2.5rem;
        }
        .price {
          color: $orange;
          font-size: 1.60688rem;
          font-weight: 700;
        }

        .delivery,.description {
          color: #030000;
        } 
        .description {
          font-size: 1rem;
          font-weight: 300;
        }
        .delivery {
          font-size: 0.8125rem;
          font-weight: 400;
          padding-top: 1.31rem;
        }
        .count-wrapper {
          display: flex;
          padding-bottom: 1.51rem;
          padding-top: 1.51rem;
          .btn {
            padding:1rem;
            border:none; 
            outline: none;
            @include img-contain(center);
            cursor: pointer;

          }
          .count-number {
            color: #000;
            font-family: $montseratt;
            font-size: 1.41506rem;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
            padding-inline: 0.54rem;
          }
        }
        .cart-btn {
          padding-top: 1.12rem;
          padding-bottom: 1.12rem;
          padding-inline: 2.47rem;
          background-color: $orange;
          cursor: pointer;
          display: flex;
          border-radius: 4.8125rem;
          border: none;
          gap: 0.75rem;
          a {
            color: $dark;
            text-align: center;
            font-family: $montseratt;
            font-size: 0.98213rem;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
            text-decoration: none;
            margin: auto 0;
          }
        }
      }
      .details {
        padding-inline: 1rem;
        .label {
          color: $orange;
          padding-top: 1.5rem;
          font-family: Poppins;
          font-size: 0.84375rem;
          font-style: normal;
          font-weight: 600;
          line-height: 131%; /* 1.10531rem */
        }
        .details-wrapper {
          .detail {
            .title-button-wrapper {
              display: flex;
              padding-top: 0.56rem;
              padding-bottom: 1.56rem;
              justify-content: space-between;
              cursor: pointer;
              .title {
                color: $white;
                font-family: $poppins;
                font-size: 1.5625rem;
                font-style: normal;
                font-weight: 500;
                line-height: 131%; /* 2.04688rem */
              }
              .open-btn {
                border: none;
                outline: none;
                background-color: transparent;
                cursor: pointer;
              }
            }
            .detail-info {
              display: none;
              .detail-info-title {
                color: $white;
                font-family: $poppins;
                font-size: 1.25rem;
                font-style: normal;
                font-weight: 500;
                line-height: 131%; /* 1.6375rem */
                padding-top:1.25rem;
                padding-bottom: 0.62rem;
              }
              .detail-category {
                    padding-bottom: 0.81rem;

                .category-label {
                  color: $orange;
                  font-family: $poppins;
                  font-size: 0.875rem;
                  font-style: normal;
                  font-weight: 300;
                  padding-bottom: 0.19rem;
                  line-height: normal;
                }
                .detail-category-wrapper {
                  .text, a {
                    color: $white;
                    font-family: $poppins;
                    font-size: 0.875rem;
                    font-style: normal;
                    font-weight: 300;
                    line-height: normal;
                  }
                  a {
                    font-weight: 400;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  .add-to-cart {
    display: none;
    @media screen and (min-width:1200px) {
      display: block;
      width: 50%;
      background-color: $white;
      padding-inline: 1.97rem;
      position: relative;
      .wrapper {
        position: sticky;
        top: 0;
        left: 0;
        padding-bottom: 3rem;
        .title {
          color: $dark;
          font-family: $poppins;
          font-size: 1.5625rem;
          font-style: normal;
          padding-top: 4.91rem;
          padding-bottom: 0.91rem;
          font-weight: 500;
          line-height: 131%; /* 2.04688rem */
        }
        .price {
          color: $orange;
          font-family: $poppins;
          font-size: 1.60688rem;
          font-style: normal;
          font-weight: 700;
          line-height: normal;
          padding-bottom: 1.31rem;
        }
        .description {
          color: $dark;
          font-family: $poppins;
          font-size: 1rem;
          font-style: normal;
          font-weight: 300;
          line-height: normal;
        }
        .delivery {
          color: #030000;
          font-family: $poppins;
          font-size: 0.8125rem;
          font-style: normal;
          font-weight: 400;
          padding-bottom: 1.31rem;
          padding-top: 1.31rem;
          line-height: normal;
        }
        .count-wrapper {
          display: flex;
          padding-bottom: 1.51rem;
          padding-top: 1.51rem;
          .btn {
            padding:1rem;
            border:none; 
            outline: none;
            @include img-contain(center);
            cursor: pointer;
          }
          .count-number {
            color: #000;
            font-family: $montseratt;
            font-size: 1.41506rem;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
            padding-inline: 0.54rem;
          }
        }
        .cart-btn {
          padding-top: 1.12rem;
          padding-bottom: 1.12rem;
          padding-inline: 2.47rem;
          background-color: $orange;
          cursor: pointer;
          display: flex;
          border-radius: 4.8125rem;
          border: none;
          gap: 0.75rem;
          a {
            color: $dark;
            text-align: center;
            font-family: $montseratt;
            font-size: 0.98213rem;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
            margin: auto 0;
            text-decoration: none;
          }
        }
      }
    }
  }
  .recommended-products {
    padding-top: 5.31rem;
    padding-left: 1rem;
    padding-bottom: 2.62rem;
    .title {
      color: $white;
      text-align: center;
      font-family: $poppins;
      font-size: 1.5rem;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
    }
    .recommended-products-swiper {
      width:100%;
      padding-top: 2.56rem;
      height: 100%;
      @media screen and (min-width:1200px) {
        display: none;
      }
      .swiper-wrapper {
        width: 100%;
        height: 100%;
        display: flex;
        gap:0.69rem;
        padding-bottom: 2.69rem;
        .swiper-slide {
          .card-img-wrapper {
            width: 100%;
            min-height: 18.6875rem;
            @include img-cover(center);
          }
          .card-content {
            background-color: $white;
            padding-inline: 1.84rem;
            padding-top: 3.12rem;
            padding-bottom: 2.5rem;
            .card-title {
              border-top: 1px solid $dark;
              max-width: 55%;
              padding-top: 0.62rem;
              color: $dark;
              font-family: $poppins;
              font-size: 1.125rem;
              font-style: normal;
              font-weight: 500;
              line-height: 131%; /* 1.47375rem */
            }
            .card-text-wrapper {
               padding-top: 0.63rem;
               padding-bottom: 1.25rem;
              .card-text {
                color: $dark;
                font-family: $poppins;
                font-size: 1rem;
                font-style: normal;
                font-weight: 300;
                line-height: normal;
              }
            }
            .card-btn {
              @include btn;
              a {
                text-decoration: none;
                color: $dark;
              }
            }
          }
        }
      }
      .swiper-horizontal > .swiper-pagination-progressbar,
      .swiper-pagination-progressbar.swiper-pagination-horizontal {
        top: auto;
        bottom: 1.06rem;
        width: 50%;
        border-radius: 0.53125rem;
        margin: 0 auto;
        right: 0;
        min-width: 16.4375rem;
        max-width: 16.4375rem;
        background: #D9D8D8;

        .swiper-pagination-progressbar-fill {
          background-color: $dark;
          min-width: 4.8125rem;
          border-radius: 0.53125rem;
          height: 0.2rem;
        }
      }
    }
    .recommended-products-wrapper {
      display: none;
      @media screen and (min-width: 1200px) {
        display: flex;
        width: 100%;
        gap: 1.5rem;
        justify-content: center;
        align-items: center;
        padding-top: 2.56rem;
        .card {
          max-width: 19.8125rem;
           .card-img-wrapper {
            width: 100%;
            min-height: 18.6875rem;
            @include img-cover(center);
          }
          .card-content {
            background-color: $white;
            padding-inline: 1.84rem;
            padding-top: 3.12rem;
            padding-bottom: 2.5rem;
            .card-title {
              border-top: 1px solid $dark;
              max-width: 55%;
              padding-top: 0.62rem;
              color: $dark;
              font-family: $poppins;
              font-size: 1.125rem;
              font-style: normal;
              font-weight: 500;
              line-height: 131%; /* 1.47375rem */
            }
            .card-text-wrapper {
               padding-top: 0.63rem;
               padding-bottom: 1.25rem;
              .card-text {
                color: $dark;
                font-family: $poppins;
                font-size: 1rem;
                font-style: normal;
                font-weight: 300;
                line-height: normal;
              }
            }
            .card-btn {
              @include btn;
              a {
                text-decoration: none;
                color: $dark;
              }
            }
          }
        }
      }
    }
  }
}