@use "../abstracts" as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.types-of-solar-system {
  display: flex;
  .main-content {
    background: #262626;
    width: 100%;
    @media screen and (min-width: 1200px) {
      max-width: 24.75rem;
    }
    .main-content-title {
      padding-left: 1rem;
      padding-bottom: 1.69rem;
      padding-top: 2.31rem;
      color: $white;
      font-family: $poppins;
      font-size: 2.91106rem;
      font-style: normal;
      font-weight: 600;
      line-height: 3.10094rem; /* 106.522% */
    }
    hr {
      width: 85%;
    }
    .card {
      padding-right: 1.31rem;
      &.on-grid {
        padding-top: 1.81rem;
      }
      &.off-grid {
        padding-bottom: 2.53rem;
      }
      padding-bottom: 1.31rem;
      padding-left: 0.81rem;
      .solar-system-title {
        padding-bottom: 0.44rem;
        color: rgba(249, 164, 26, 0.60);
        font-family: $montseratt;
        font-size: 1.25rem;
        font-style: italic;
        font-weight: 700;
        cursor: pointer;
        line-height: normal;
      }

      .content {
        color: #FFF;
        cursor: pointer;
        font-family: $poppins;
        font-size: 1rem;
        font-style: normal;
        font-weight: 400;
        line-height: 1.38256rem; /* 138.258% */
        padding-bottom: 1.31rem;
        display: none;
      }

      .on-grid-img-container,
      .on-grid-night-img-container,
      .off-grid-img-container {
        width: 100%;
        background-color: $dark;
      }

      .on-grid-img-container {
        height: 49.154375rem;
        @include img-contain(center);
        @media screen and (min-width: 1200px) {
          display: none !important;
        }
      }

      .on-grid-night-img-container {
        height: 32.3775rem;
        @include img-contain(center);
        @media screen and (min-width: 1200px) {
          display: none !important;
        }
      }

      .off-grid-img-container {
        height: 35.20875rem;
        @include img-contain(center);
        @media screen and (min-width: 1200px) {
          display: none !important;
        }
      }
    }
  }

  .image-container {
    display: none;
    @media screen and (min-width: 1200px) {
      display: block;
      @include img-cover(right);
      margin-left: 3.96rem;
      padding-left:3.96rem;
    }
  }
}
